<section class="container mob-container">
  <div class="col s12">
    <h2 class="header">About</h2>
    <p class="caption">
       My first name is the Gaelic version of Joseph (pronounced "sho-saav") and I am from a small town in the west of Ireland called Ballina.
    </p>
    <p class="caption">
      Childhood days involved riding horses and playing Irish sports, while the evenings were spent immersed in literture, music and of course computer games.
    </p>
    <p class="caption">Near the end of school I got a work placement with a local start-up (<a href="//propylon.com" target="_blank">Propylyon</a>), writing
      SGML and doing some basic VB scripting. I really enjoyed the work so I decided to study Computer Science at NUI Galway.
    </p>
    <p class="caption">
      After Galway I completed a masters degree in English literature at Trinity College Dublin following another passion of mine.
    </p>  
    <p class="caption">
      Finally I trained professionally to become an accountant and was admitted as a member of the Certified Public Accountants of Ireland in 2004.
    </p>
    <p class="caption">
      I spent the first eight years of my working life as an accountant, the last seven as a software developer and I managed to played <a href="//www.creteboom.com">a wee bit of music</a>
      along the way too.
    </p>
    <p class="caption">
       In 2011 I left Ireland, living in Canada for a while before settling in Berlin.
    </p>
    <p class="caption">
      <strong>- Seosamh Cahill <small>MA CPA</small></strong>.
    </p>
    <a target="_blank" href="mailto:seo.cahill@gmail.com?subject=work+enquiry" class="waves-effect waves-light contact-button btn"><i class="material-icons left">email</i>contact</a>
  </div>
</section>