<section class="container mob-container">
  <div class="row">
    <div class="col s12">
      <h2 class="header">Other</h2>
    </div>
  </div>
  <div class="row">
    <div class="col s12 l6">
      <p class="caption">
        <img class="responsive-img center-align hide-on-med-and-up" src="assets/images/crete-boom.png">
        <img class="responsive-img center-align hide-on-small-only" src="assets/images/lying-girl.png">
      </p>
    </div>
    <div class="col s12 l6">
      <p class="caption">
        <em>σκαιοῖσι μὲν γὰρ καινὰ προσφέρων σοφὰ δόξεις ἀχρεῖος κοὐ σοφὸς πεφυκέναι τῶν δ' αὖ δοκούντων εἰδέναι 
          τι ποικίλον κρείσσων νομισθεὶς ἐν πόλει λυπρὸς φανῇ</em>
      </p>
      <p class="caption"><em> Medea</em></p>
      <div class="row">
        <div class="col s12">
          <a href="//blog.seocahill.com/exegesis-the-first-class/" class="waves-effect waves-light btn-large btn-block"><i class="material-icons right">open_in_new</i>Some writing!</a>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <a href="//www.creteboom.com" class="waves-effect waves-light btn-large btn-block"><i class="material-icons right">open_in_new</i>Some songs!</a>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <a href="//soundcloud.com/seo-cahill/sets/guitar" class="waves-effect waves-light btn-large btn-block"><i class="material-icons right">open_in_new</i>Guitar playing!</a>
        </div>
      </div>
    </div>
  </div>
</section>