<section class="container mob-container">
  <div class="row work-section">
    <div class="col s12 work">
      <h2 class="header">Work</h2>
      <p class="caption">Thanks for checking out my site! </p>
      <p class="caption">I've been developing ruby and javascript web apps since 2010. I also work with docker and python quite a bit these days.</p>
      <p class="caption">I maintain a couple of apps for accounting firms and their clients. Financial software and XBRL is a domain I have a particular expertise in.</p>
      <p class="caption">Please <a href="mailto:seo.cahill@gmail.com?subject=resume">email me</a> for up-to-date resume, availability and rates.</p>
    </div>
  </div>
  <div class="row work-section">
    <div class="col s12">
      {{#x-accordian}}
      <li class="collection-header">
        <h5>Open source / code samples</h5>
      </li>
      <li>
        <div class="collapsible-header"><i class="devicon-ruby-plain"></i>Ruby</div>
        <div class="collapsible-body">
          <ul class="collection">
            <a class="collection-item" href="//github.com/seocahill/100motels" target="_blank">Rails fullstack app<span class="secondary-content"><i class="material-icons">open_in_new</i></span></a>
            <a class="collection-item" href="//github.com/seocahill/taxonomy-parser" target="_blank">Large sinatra app<span class="secondary-content"><i class="material-icons">open_in_new</i></span></a>
            <a class="collection-item" href="//github.com/seocahill/xbrl-validator" target="_blank">Small sinatra app<span class="secondary-content"><i class="material-icons">open_in_new</i></span></a>
            <a class="collection-item" href="//github.com/seocahill/taxplorer" target="_blank">Rubygem<span class="secondary-content"><i class="material-icons">open_in_new</i></span></a>
            <a class="collection-item" href="///github.com/seocahill/reconciliator" target="_blank">Ruby app<span class="secondary-content"><i class="material-icons">open_in_new</i></span></a>
          </ul>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="devicon-javascript-plain"></i>Javascript</div>
        <div class="collapsible-body">
          <ul class="collection">
            <a class="collection-item" href="//github.com/seocahill/dts-explorer-client" target="_blank">Ember app<span class="secondary-content"><i class="material-icons">open_in_new</i></span></a>
            <a class="collection-item" href="//github.com/seocahill/ember-engine-xbrl-tagger" target="_blank">Ember engine<span class="secondary-content"><i class="material-icons">open_in_new</i></span></a>
            <a class="collection-item" href="//github.com/seocahill/ember-electron-pdf-parser" target="_blank">Electron app<span class="secondary-content"><i class="material-icons">open_in_new</i></span></a>
            <a class="collection-item" href="//github.com/seocahill/ember-fastboot-pwa" target="_blank">Ember fastboot PWA<span class="secondary-content"><i class="material-icons">open_in_new</i></span></a>
          </ul>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="devicon-docker-plain"></i>Other</div>
        <div class="collapsible-body">
          <ul class="collection">
            <a class="collection-item" href="//github.com/seocahill/ha-postgres-docker-stack" target="_blank">Dockerized HA postgres cluster<span class="secondary-content"><i class="material-icons">open_in_new</i></span></a>
            <a class="collection-item" href="//github.com/seocahill/xbrl-validation-pipeline" target="_blank">Dockerized XBRL validation pipeline<span class="secondary-content"><i class="material-icons">open_in_new</i></span></a>
          </ul>
        </div>
      </li>
      {{/x-accordian}}
    </div>
  </div>
  <div class="row work-section">
    <div class="col s12">
      {{#x-accordian}}
        <li class="collection-header">
          <h5>My apps</h5>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">web</i>AuditLook</div>
          <div class="collapsible-body">
            <div class="card">
              <div class="card-image">
                <a href="//www.auditlook.com"><img src="assets/images/audit-look.png"></a>
              </div>
              <div class="card-stacked">
                <div class="card-content">
                  <p><i class="material-icons">help_outline</i> Upload and manage audit information. Target users are accountants and their clients.</p>
                  <p><i class="material-icons">apps</i> Rails, ember, postgres, redis, docker, bootstrap.</p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">web</i>Circle accounts</div>
          <div class="collapsible-body">
            <div class="card">
              <div class="card-image">
                <a href="//www.circle-accounts.com"><img src="assets/images/circle.png"></a>
              </div>
              <div class="card-stacked">
                <div class="card-content">
                  <p><i class="material-icons">help_outline</i> Create, validate, and view iXBRL instance documents.</p>
                  <p><i class="material-icons">apps</i> Rails, ember, ember-engines, sinatra, jruby, python, postgres, redis, docker, bootstrap.</p>
                </div>
              </div>
            </div>
          </div>
        </li>
      {{/x-accordian}}
    </div>
  </div>
  <div class="row work-section">
    <div class="col s12">
      {{#x-accordian}}
        <li class="collection-header">
          <h5>Other work</h5>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">work</i>Ticketsolve</div>
          <div class="collapsible-body">
            <div class="card">
              <div class="card-image">
                <a href="//www.ticketsolve.com"><img src="assets/images/ticketsolve.png"></a>
              </div>
              <div class="card-stacked">
                <div class="card-content">
                  <p><i class="material-icons">location_city</i> Dublin</p>
                  <p><i class="material-icons">help_outline</i> Boxoffice and ticketing apps for web and mobile.</p>
                  <p><i class="material-icons">apps</i> Rails 3/4, Elasticsearch, Mysql, Ember, Flash, Redis, HAL, Jsonapi.</p>
                  <p><i class="material-icons">assignment</i> Ember and rails features targeting api, desktop and mobile users.</p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">work</i>Junait</div>
          <div class="collapsible-body">
            <div class="card">
              <div class="card-image">
                <a href="//www.junait.de"><img src="assets/images/junait.png"></a>
              </div>
              <div class="card-stacked">
                <div class="card-content">
                  <p><i class="material-icons">location_city</i> Berlin</p>
                  <p><i class="material-icons">help_outline</i> Online game to teach schoolchildren how to use social networks safely.</p>
                  <p><i class="material-icons">apps</i> Rails, Postgres, Angular, Bootstrap.</p>
                  <p><i class="material-icons">assignment</i> Angular and rails features.</p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">work</i>Lateral</div>
          <div class="collapsible-body">
            <div class="card">
              <div class="card-image">
                <a href="//www.lateral.io"><img src="assets/images/lateral.png"></a>
              </div>
              <div class="card-stacked">
                <div class="card-content">
                  <p><i class="material-icons">location_city</i> Berlin</p>
                  <p><i class="material-icons">help_outline</i>Machine learning solution helps teams rapidly find relevant knowledge both from within their company, and from external sources.</p>
                  <p><i class="material-icons">apps</i> Rails, Backbone.</p>
                  <p><i class="material-icons">assignment</i> Rails features and third party API integrations.</p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">work</i>Quinzee</div>
          <div class="collapsible-body">
            <div class="card">
              <div class="card-image">
                <a href="//www.lateral.com"><img src="assets/images/quinzee.png"></a>
              </div>
              <div class="card-stacked">
                <div class="card-content">
                  <p><i class="material-icons">location_city</i> Toronto</p>
                  <p><i class="material-icons">help_outline</i>Personal utilities dashboard to help users make smarter decisions about energy use and to save money and energy</p>
                  <p><i class="material-icons">apps</i> Rails</p>
                  <p><i class="material-icons">assignment</i> Rails fullstack webdev and Devops, site-scraping.</p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">work</i>Green building audio tours</div>
          <div class="collapsible-body">
            <div class="card">
              <div class="card-image">
                <a href="//greenbuildingaudiotours.com/"><img src="assets/images/green.png"></a>
              </div>
              <div class="card-stacked">
                <div class="card-content">
                  <p><i class="material-icons">location_city</i> Vancouver</p>
                  <p><i class="material-icons">help_outline</i>Location based audio tours.</p>
                  <p><i class="material-icons">apps</i> Rails, Cordova.</p>
                  <p><i class="material-icons">assignment</i> Rails, javascript features for mobile and web.</p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">work</i>100 Motels</div>
          <div class="collapsible-body">
            <div class="card">
              <div class="card-image">
                <img src="assets/images/100motels.png">
              </div>
              <div class="card-stacked">
                <div class="card-content">
                  <p><i class="material-icons">location_city</i> Dublin</p>
                  <p><i class="material-icons">help_outline</i>Crowd funding marketplace for live events.</p>
                  <p><i class="material-icons">apps</i> Rails, Postgres, Redis.</p>
                  <p><i class="material-icons">assignment</i> Rails fullstack webdev and Devops.</p>
                </div>
              </div>
            </div>
          </div>
        </li>
      {{/x-accordian}}
    </div>
  </div>
</section>